$treb = "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
$tahoma = Tahoma,Verdana,Segoe,sans-serif;
$times = TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
