extends /blocks/layout-default/layout-default

include ../blocks/header/header
include ../blocks/breadcrumbs/breadcrumbs
//- include ../blocks/content/content
include ../blocks/reviews/reviews


include ../blocks/footer/footer

block head
	- var pageTitle = 'Отзывы';

block content
	.page__w
		.page__w-w
			+header()
			main.main
				.main__in.main_inner
					+breadcrumbs()
						ol.breadcrumbs__list(itemscope="", itemtype="http://schema.org/BreadcrumbList")
							li.breadcrumbs__item(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
								a.breadcrumbs__link(itemprop="item", href="")
									span(itemprop="name") Главная
								| -->
								meta(itemprop="position", content="1")
							li.breadcrumbs__item(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
								a.breadcrumbs__link(itemprop="item", href="")
									span(itemprop="name") Отзывы
								meta(itemprop="position", content="2")

					+reviews()

			+footer()

