extends /blocks/layout-default/layout-default

include ../blocks/header/header
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/content/content

include ../blocks/footer/footer

block head
	- var pageTitle = 'О нас';

block content
	.page__w
		.page__w-w
			+header()
			main.main
				.main__in
					+breadcrumbs()
						ol.breadcrumbs__list(itemscope="", itemtype="http://schema.org/BreadcrumbList")
							li.breadcrumbs__item(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
								a.breadcrumbs__link(itemprop="item", href="")
									span(itemprop="name") Главная
								| -->
								meta(itemprop="position", content="1")
							li.breadcrumbs__item(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
								a.breadcrumbs__link(itemprop="item", href="")
									span(itemprop="name") Отзывы
								meta(itemprop="position", content="2")

					+content()
						p В нашем "Доме быта" работает профессиональная ювелирная мастерская, что это такое? А это значит, что в нашей ювелирной мастерской, Вы можете получить грамотную консультацию по всем ВОПРОСАМ касающимся ювелирных изделий и камней к ним, а так же извготовить ювелирные изделия на заказ, золото и серебро(по нашим и Вашим эскизам, рисункам, фотографиям, каталогам, 3D моделирование, можем изготовить ювелирное изделие полностью вручную (у нас ювелиры высшей квалификации)), в том числе цепи и браслеты, разных плетений, изготовление филигранных изделий из золота и серебра с чернением(оксидирование). Так же, отремонтируем, восстановим покрытие(родирование, золочение), приведем в полный порядок(отполируем) и даже лучше чем было, ваше ювелирное изделие.

						p Ремонт антиквариата, лазерная пайка, и все остальное, приходите, приятная атмосфера, обязательно поможем... Ремонт очков(пайка, винтики, выравнивание).

						p Ремонт часов всех видов(наручные, настенные, каминные, каретные, напольные, антикварные, военные и очень редкие), очень хороший мастер-часовщик, (меняем, есть в наличии, кожаные ремешки(всевозможных цветов и размеров), разные браслеты, все батарейки для кварцевых часов и других приборов(фирменные и китайские с гарантией), замена стекл, приводимв порядок корпуса часов и многое другое. Ремонт разной бытовой техники, электробритвы.

						p Заточка ножей и ножниц, маникюрных, ножей и сеток мясорубки. Ремонт швейных машин(супер мастер). Ремонт электроники: мобильники, планшеты, ноутбуки и тому подобное.

						p Фотография, ксерокс, восстанавливаем старые фотографии, изготовление печатей и прочее... <br/>Металлоремонт: изготовление клчей и домофонных, ремонт сумок, портфелей, чемоданов, зонтов, клепки, молнии и т.д. Ремонт одежды, химчистка , прачечная, покраска кожаных изделий.

						p Работаем с 10-20, в субботу с 10-17.


			+footer()

