extends /blocks/layout-default/layout-default

include ../blocks/header/header
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/content/content

include ../blocks/footer/footer

block head
	- var pageTitle = 'Услуги';

block content
	.page__w
		.page__w-w
			+header()
			main.main
				.main__in.main_inner
					+breadcrumbs()
						ol.breadcrumbs__list(itemscope="", itemtype="http://schema.org/BreadcrumbList")
							li.breadcrumbs__item(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
								a.breadcrumbs__link(itemprop="item", href="")
									span(itemprop="name") Главная
								| -->
								meta(itemprop="position", content="1")
							li.breadcrumbs__item(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
								a.breadcrumbs__link(itemprop="item", href="")
									span(itemprop="name") Ремонт часов
								meta(itemprop="position", content="2")

					+content()
						img.align-left(src="assets/images/content/services-1.jpg", alt="Ремонт часов")
						h1 Ремонт часов
						p Даже приобретя часы в другой стране, вы можете быть уверены, что в случае необходимости сможете воспользоваться нашими квалифицированными услугами по обслуживанию и ремонту. Процесс ремонта часов в «Юквис» производится в строгом соответствии с мировыми стандартами при использовании новейшего оборудования и технологий, а также оригинальных запасных частей исключительно от производителя часов. Обращаясь в наш сервисный центр, Вы можете быть уверены, что с Вашими часами будут работать высококвалифицированные дипломированные мастера, которые регулярно проходят стажировку на фабриках Швейцарии и Германии, совершенствуя свои профессиональные навыки. Они со знанием дела и большим удовольствием не

						hr

						p Даже приобретя часы в другой стране, вы можете быть уверены, что в случае необходимости сможете воспользоваться нашими квалифицированными услугами по обслуживанию и ремонту. Процесс ремонта часов в «Юквис» производится в строгом соответствии с мировыми стандартами при использовании новейшего оборудования и технологий, а также оригинальных запасных частей исключительно от производителя часов. Обращаясь в наш сервисный центр, Вы можете быть уверены, что с Вашими часами будут работать высококвалифицированные дипломированные мастера, которые регулярно проходят стажировку на фабриках Швейцарии и Германии, совершенствуя свои профессиональные навыки. Они со знанием дела и большим удовольствием не просто отремонтируют ваши часы, но и расскажут об их особенностях и подскажут, как продлить их жизнь.


						table
							tr
								td Замена ремешка
								td от 500 руб.
							tr
								td Замена часов
								td от 500 руб.
							tr
								td Замена стекла
								td от 500 руб.


			+footer()

