mixin works()
	ul.works
		li.works__item
			a.works__link(href="assets/images/content/work-big.jpg")
				img.works__image(src="assets/images/content/work-1.jpg", alt="")
		li.works__item
			a.works__link(href="assets/images/content/work-1.jpg")
				img.works__image(src="assets/images/content/work-2.jpg", alt="")
		li.works__item
			a.works__link(href="assets/images/content/work-3.jpg")
				img.works__image(src="assets/images/content/work-3.jpg", alt="")
		li.works__item
			a.works__link(href="assets/images/content/work-1.jpg")
				img.works__image(src="assets/images/content/work-1.jpg", alt="")
		li.works__item
			a.works__link(href="assets/images/content/work-big.jpg")
				img.works__image(src="assets/images/content/work-2.jpg", alt="")
		li.works__item
			a.works__link(href="assets/images/content/work-big.jpg")
				img.works__image(src="assets/images/content/work-3.jpg", alt="")
