.works
	display block
	font-size 0
	&__item
		margin-right ratio-percentage(40,980)
		margin-bottom ratio-percentage(44,980)
		display inline-block
		vertical-align top
		width ratio-percentage(300,980)
		height auto
		&:nth-child(3n)
			margin-right 0
		+below(375px)
			margin-right 0
			width auto

	&__link
		display block
		cursor pointer
	&__image
		max-width 100%
		height auto


.works-popup
	background transparent
	img
		padding 0
	.mfp-figure
		position relative
		padding 0
	.mfp-close
		position absolute
		top 16px
		right 16px
		retinaSprite($close_group)
		opacity 1
		hide-text()
		cursor pointer




.mfp-zoom-in
	background transparent
	.mfp-with-anim
		opacity 0
		transition all 0.2s ease-in-out
		transform scale(0.8)
		&.mfp-bg
			opacity 0
			transition all 0.3s ease-out

	/* animate in */
	&.mfp-ready
		.mfp-with-anim
			opacity 1
			transform scale(1)
		&.mfp-bg
			opacity 0.8

	/* animate out */
	&.mfp-removing
		.mfp-with-anim
			transform scale(0.8)
			opacity 0
		&.mfp-bg
			opacity 0



	.mfp-image-holder
		button.mfp-close
			cursor pointer
