mixin reviews()
	.reviews
		ul.reviews__list
			li.reviews__item
				.reviews__text
					p <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aliquam molestias laboriosam eveniet, cumque amet autem, placeat atque consequuntur praesentium deserunt officia eaque harum quis natus obcaecati dolores commodi exercitationem
				.reviews__author
					span Иван Васильевич
			li.reviews__item
				.reviews__text
					p <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aliquam molestias laboriosam eveniet, cumque amet autem, placeat atque consequuntur praesentium deserunt officia eaque harum quis natus obcaecati dolores commodi exercitationem
				.reviews__author
					span Иван Васильевич
			li.reviews__item
				.reviews__text
					p <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aliquam molestias laboriosam eveniet, cumque amet autem, placeat atque consequuntur praesentium deserunt officia eaque harum quis natus obcaecati dolores commodi exercitationem
				.reviews__author
					span Иван Васильевич
			li.reviews__item
				.reviews__text
					p <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aliquam molestias laboriosam eveniet, cumque amet autem, placeat atque consequuntur praesentium deserunt officia eaque harum quis natus obcaecati dolores commodi exercitationem
				.reviews__author
					span Иван Васильевич
			li.reviews__item
				.reviews__text
					p <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aliquam molestias laboriosam eveniet, cumque amet autem, placeat atque consequuntur praesentium deserunt officia eaque harum quis natus obcaecati dolores commodi exercitationem
				.reviews__author
					span Иван Васильевич
			li.reviews__item
				.reviews__text
					p <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aliquam molestias laboriosam eveniet, cumque amet autem, placeat atque consequuntur praesentium deserunt officia eaque harum quis natus obcaecati dolores commodi exercitationem
				.reviews__author
					span Иван Васильевич
