mixin slider()
	.slider
		ul.slider__list
			li.slider__item
				a.slider__link(href="#link")
					img.slider__img(src="assets/images/content/slider-img-1.jpg", alt="slider img")
			li.slider__item
				a.slider__link(href="#link")
					img.slider__img(src="assets/images/content/slider-img-1.jpg", alt="slider img")
